body{
  background: url('./images/clouds.jpg')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;

}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-login {
  align-self: center;
  width:300px;
  padding-bottom: 15px;
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color: #fff;
  background: rgba(36, 36, 36, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
}


.glass-input {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  padding: 5px 15px 5px 20px;
  position: relative;
  width:160px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: rgba(82, 82, 82, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
  
}


.glass-input{
  outline: none;
}

.glass-input {
  margin-bottom: 15px;
}

.glass-input::placeholder{
  color: rgba(255, 255, 255, 0.534);
}


.glass-button {
  display: inline-block;
  padding: 12px 20px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.11);
  border: 1px solid rgba(255,255,255,0.11);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button:hover {
  background-color: rgba(255,255,255,0.2);
}

.chat-card{
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  width:280px;
  padding-bottom: 15px;
  font: 13px/20px "Open Sans", Tahoma, Verdana, sans-serif;
  color: #fff;
  background: rgba(36, 36, 36, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
}

.chat-header {
  position: relative;
}

.leave-button {
  width: 20px;
  position: absolute;
  top: 0px;
  left: 5px;

}

.line{
  margin-bottom: 5px;
  width: 100%;
  height: 0.6px;
  background-color:rgba(235, 235, 235, 0.3);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.chat-body {
  padding: 15px;
  height: 300px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  overflow-y:initial;
}

.chat-body::-webkit-scrollbar{
  display: none;
}

.chat-footer {
  display: flex;
  padding: 10px;
  padding-left: 20px;
  height: 25px;
  
}

.chat-body::-webkit-scrollbar {
  display: none;
}

.glass-button-send{
  margin-left: 10px;
  border-radius: 50%;
  width:40px;
  height: 40px;
  background-color: rgba(255,255,255,0.2);
  
  box-shadow: 0 8px 32px 0 rgba(68, 68, 68, 0.37);
  font-size: 10px;
  color:white;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 8.5px;
}

.glass-button-send:hover{
  
  background: rgba(235, 206, 143, 0.432);
  cursor: pointer;
}

.glass-button-send:active {
  background-color: rgba(255,255,255,0.2);
}

.logo-button {
  width:20px;
}

.message {
  font-size: 10px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 16px 0 rgba(68, 68, 68, 0.37);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  padding: 8px;
  max-width: 150px;
  text-align: start;
  line-height: 15px;
  display: flex;
  flex-direction: column;
}

.own {
  align-self:flex-end;
}

.message-author {
  font-weight: bold;
  font-size: 9px;
  line-height: 9px;
  margin: 0px;
}

.message-content {
  padding-top: 5px;
  -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.message-time {
  line-height: 8px;
  margin: 0;
  text-align: end;
  font-size: 8px;
  color: rgba(255, 255, 255, 0.445);
}